<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Esta es la pagina Acerca de Nosotros de Vidanova
    <h1>Politias de calidad</h1>
    <p>Lograr la satisaccionde nuestro paciente
         y familias de manera ut expedita ipsum repudiandae tempora 
        doloremque consequunt lalalala....................</p>
    <h1>Mision</h1>
    <p>La mision es Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam 
        molestias possimus magnam asperiores, 
        ur dolor rerum delectus beatae dolorem similique nihil ex eum cumque.</p>
    <h1>Vision</h1>
    <p>La vision es Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quisquam, voluptatum. Doloribus, 
        voluptates. Quasi, cumque. Voluptas, asperiores. 
        Doloremque, quisquam. Quisquam, voluptatum.</p>
    <h1>Politica de citas</h1>
    <p>POLITICAS DE CANCLACIONDECITAS   Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. Aperiam maiores non assumenda 
        nesciunt fugiat sunt. Quo placeat labore libero
         beatae doloremque, amet quis reiciendis perspiciatis fugi
         t iusto magni dicta quia.</p>
         <ul>
         <li>Pawina web</li>
         <li>presenci n las inlalalal</li>
         <li>telefono</li>
        </ul>

</body>
</html>