{% extends 'layout.html' %}
{% load static %}

{% block title %}Pagina inicial{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="bx bx-search-alt"></i></button>
            </div>
            <div class="user">
                <a href="#" class="btn">Adicioner</a>
                <i class="bx bxs-bell-ring"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1></h1>
                    <h3>Usuario</h3>
                </div>
                <div class="icon-case">
                    <img src="{% static 'media/students.png' %}" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1></h1>
                    <h3>Estudiantes</h3>
                </div>
                <div class="icon-case">
                    <img src="{% static 'media/students.png' %}" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1></h1>
                    <h3>Alertas2</h3>
                </div>
                <div class="icon-case">
                    <img src="{% static 'media/teacher.png' %}" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>5</h1>
                    <h3>Alerta3</h3>
                </div>
                <div class="icon-case">
                    <img src="{% static 'media/schools.png' %}" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>23</h1>
                    <h3>ingresos</h3>
                </div>
                <div class="icon-case">
                    <img src="{% static 'media/income.png' %}" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>52</h1>
                    <h3>Alertas</h3>
                </div>
                <div class="icon-case">
                    <img src="{% static 'media/notifications.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}